[submodule "src/libs/libheap"]
	path = src/libs/libheap
	url = https://github.com/devse-org/libheap
[submodule "src/libs/handover"]
	path = src/libs/handover
	url = https://github.com/devse-org/handover
